@using NbSites.Web.PermissionChecks
@using NbSites.Web.PermissionChecks.RoleBased
@inject IRoleBasedPermissionRuleRepository RuleRepository
@inject IPermissionCheckDebugHelper DebugHelper
@{
    var checkResults = DebugHelper.GetPermissionCheckResults();
    var checkFeatureRules = RuleRepository.GetRules();
    var permissionCheckResult = checkResults.Combine();
    var detailsResults = permissionCheckResult.Data as IList<PermissionCheckResult>;
}
<div class="row">
    <p>@permissionCheckResult.Message</p>
    @{
        if (detailsResults != null)
        {
            <ul>
                @foreach (var detailsResult in detailsResults)
                {
                    <li>@detailsResult.Message</li>
                }
            </ul>
        }
    }
    <table class="table-striped table-bordered">
        <thead>
        <tr>
            <td>CheckFeatureId</td>
            <td>AllowedUsers</td>
            <td>AllowedRoles</td>
            <td>?Allowed?</td>
            <td>Tip</td>
        </tr>
        </thead>
        @foreach (var rule in checkFeatureRules)
        {
            var style = "";
            var success = "?";
            var tip = "?";
            var item = rule.Value;
            @foreach (var result in checkResults)
            {
                if (result.Data is RoleBasedPermissionRule theRule)
                {
                    var permissionId = theRule.PermissionId;
                    if (permissionId.Equals(item.PermissionId, StringComparison.OrdinalIgnoreCase))
                    {
                        //^_^ :(
                        var forbidden = result.Category == PermissionCheckResultCategory.Forbidden;
                        style = forbidden ? "color: red" : "color: green";
                        success = forbidden ? ":(" : ":)";
                        tip = result.Message;
                    }
                }
            }
            <tr style="@style">
                <td>@item.PermissionId</td>
                <td>@item.AllowedUsers</td>
                <td>@item.AllowedRoles</td>
                <td>@success</td>
                <td>@tip</td>
            </tr>
        }
    </table>
</div>
<hr />
