@using Common
@using NbSites.Web.PermissionChecks
@using NbSites.Web.PermissionChecks.RoleBased
@inject IRoleBasedPermissionRuleRepository RuleRepository
@{
    var checkResults = DynamicCheckDebugHelper.Instance.CheckRuleResults;
    var checkFeatureRules = RuleRepository.GetRules();

    DynamicCheckDebugHelper.Instance.CheckRuleResults = new List<MessageResult>();
}
<div class="row">
    <table class="table-striped table-bordered">
        <thead>
            <tr>
                <td>CheckFeatureId</td>
                <td>AllowedUsers</td>
                <td>AllowedRoles</td>
                <td>Success?</td>
                <td>Tip</td>
            </tr>
        </thead>
        @foreach (var rule in checkFeatureRules)
        {
            var style = "";
            var success = "?";
            var tip = "?";
            var item = rule.Value;
            @foreach (var result in checkResults)
            {
                var id = result.Data as string;
                if (!string.IsNullOrWhiteSpace(id))
                {
                    if (id.Equals(item.PermissionId, StringComparison.OrdinalIgnoreCase))
                    {
                        //^_^ :(

                        style = result.Success ? "color: green" : "color: red";
                        success = result.Success ? "^_^" : ":(";
                        tip = result.Message;
                    }
                }
            }
            <tr style="@style">
                <td>@item.PermissionId</td>
                <td>@item.AllowedUsers</td>
                <td>@item.AllowedRoles</td>
                <td>@success</td>
                <td>@tip</td>
            </tr>
        }
    </table>
</div>
<hr />
